<template>
  <div class="wrapper">
    <!-- App.vue -->
    <v-app>
      <!-- alert -->
      <alert />
      <!-- end of alert -->
      <v-dialog>
        <search @closed="closeDialog" />
      </v-dialog>

      <keep-alive>
        <v-dialog
          v-model="dialog"
          fullscreen
          hide-overlay
          persistent
          transition="dialog-bottom-transition"
        >
          <component :is="currentComponent" @closed="setDialogStatus">
          </component>
        </v-dialog>
      </keep-alive>

      <!-- end of alert -->
      <!-- navigation drawer -->
      <v-navigation-drawer app v-model="drawer">
        <v-list>
          <v-list-item v-if="!guest"
            ><v-list-item-avatar>
              <v-img
                src="https://cdn.pixabay.com/photo/2020/06/24/19/12/cabbage-5337431_1280.jpg"
              ></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{ user.user.name }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <div class="pa-2" v-if="guest">
            <v-btn
              block
              color="primary"
              class="mb-1"
              @click="setDialogComponent('login')"
            >
              <v-icon left>mdi-lock-open</v-icon>
              Login
            </v-btn>
            <v-btn block color="success">
              <v-icon left>mdi-account</v-icon>
              Register
            </v-btn>
          </div>

          <v-divider> </v-divider>

          <v-list v-for="(item, index) in menus" :key="`menu-` + index" nav>
            <v-list-item
              :to="item.route"
              v-model="group"
              active-class="red--text text--accent-4"
              ><v-list-item-icon>
                <v-icon left>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-divider> </v-divider>
          <div class="pa-2" v-if="!guest">
            <v-btn block color="red" dark @click="logout">
              <v-icon left>mdi-lock</v-icon>
              Logout
            </v-btn>
          </div>
          <!-- <template v-slot:append >
          </template> -->
        </v-list>
      </v-navigation-drawer>
      <!--end of navigation drawer -->

      <!-- header -->
      <v-app-bar
        dense
        fixed
        dark
        src="https://cdn.cosmicjs.com/23ec6860-c4b2-11ea-88e1-9f819bfb6e4c-space-green.png"
        app
        v-if="isHome"
      >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

        <v-toolbar-title>Sanbercode</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn icon>
          <v-badge color="orange" overlap v-if="transactions">
            <template v-slot:badge>
              <span>{{ transactions }}</span>
            </template>
            <v-icon>mdi-cash-multiple</v-icon>
          </v-badge>
          <v-icon v-else>mdi-cash-multiple</v-icon>
        </v-btn>

        <v-text-field
          @click="setDialogComponent('search')"
          slot="extension"
          hide-details
          append-icon="mdi-microphone"
          flat
          label="Search"
          prepend-inner-icon="mdi-magnify"
          solo-inverted
        ></v-text-field>
      </v-app-bar>

      <!-- app bar if  -->
      <v-app-bar
        dense
        fixed
        dark
        src="https://cdn.cosmicjs.com/23ec6860-c4b2-11ea-88e1-9f819bfb6e4c-space-green.png"
        app
        v-else
      >
        <v-btn icon @click.stop="$router.go(-1)">
          <v-icon> mdi-arrow-left-circle </v-icon>
        </v-btn>
        <v-spacer></v-spacer>

        <v-btn icon>
          <v-badge color="orange" overlap v-if="transactions">
            <template v-slot:badge>
              <span>{{ transactions }}</span>
            </template>
            <v-icon>mdi-cash-multiple</v-icon>
          </v-badge>
          <v-icon v-else>mdi-cash-multiple</v-icon>
        </v-btn>
      </v-app-bar>
      <!-- end of header -->
      <!-- main content -->
      <v-main class="mt-5">
        <v-card-text>
          <v-container fluid>
            <v-slide-y-transition>
              <router-view> </router-view>
            </v-slide-y-transition>
          </v-container>
        </v-card-text>
      </v-main>
      <!-- end of main content -->
      <!-- footer -->
      <v-footer absolute app>
        <v-card-text class="text-center">
          &copy; {{ new Date().getFullYear() }} -
          <strong>SanbercodeApp</strong>
        </v-card-text>
      </v-footer>
      <!-- end of footer -->
    </v-app>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "App",
  components: {
    Alert: () => import("./components/Alert"),
    Search: () => import("./components/Search"),
    Login: () => import("./components/Login"),
  },
  data: () => ({
    drawer: false,
    menus: [
      {
        title: "Home",
        icon: "mdi-home",
        route: "/",
      },
      {
        title: "Campaigns",
        icon: "mdi-hand-heart",
        route: "/campaigns",
      },
      {
        title: "Blogs",
        icon: "mdi-hand-heart",
        route: "/blogs",
      },
    ],
    group: true,
  }),

  computed: {
    isHome() {
      return this.$route.path === "/" || this.$route.path === "/home";
    },
    ...mapGetters({
      transactions: "transaction/transactions", // => modules/gatters
      guest: "auth/guest",
      user: "auth/user",
      dialogStatus: "dialog/status",
      currentComponent: "dialog/component",
    }),
    dialog: {
      get() {
        return this.dialogStatus;
      },
      set(value) {
        this.setDialogStatus(value);
      },
    },
  },

  watch: {
    group() {
      this.drawer = true;
    },
  },
  methods: {
    closeDialog(value) {
      this.dialog = value;
    },
    ...mapActions({
      setDialogStatus: "dialog/setStatus",
      setDialogComponent: "dialog/setComponent",
      setAuth: "auth/set",
      setAlert: "alert/set",
      checkToken: "auth/checkToken",
    }),
    logout() {
      let config = {
        headers: {
          Authorization: "Bearer" + this.user.token,
        },
      };
      axios
        .post("/api/auth/logout", {}, config)
        .then((response) => {
          this.setAuth({}); //kosongkan auth ketika logout
          this.setAlert({
            status: true,
            color: "success",
            text: "Logout succesfully",
          });
        })
        .catch((error) => {
          let { data } = error.response;
          this.setAlert({
            status: true,
            color: "error",
            text: data.message,
          });
        });
    },
  },
  mounted() {
    if (this.user) {
      this.checkToken(this.user);
    }
  },
};
</script>