<template>
  <div class="container">
    <!-- Template Blogs -->
    <v-container class="ma-0 pa-0" grid-list-sm>
      <div class="text-right">All Blogs</div>
      <v-layout row wrap>
        <v-flex v-for="blog in blogs" :key="`blogs-` + blog.id" md6 xs6>
          <v-card>
            <v-img :src="blog.image" class="white--text">
              <v-card-title class="fill-height align-end" v-text="blog.title">
              </v-card-title>
            </v-img>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    blogs: [],
  }),
  // components: {
  //   blogItem: () => import("../components/blogItem"),
  // },
  created() {
    axios.get("/api/blogs/random/6").then((response) => {
      let { data } = response.data;
      // console.log(data);
      this.blogs = data.blogs;
    });
  },
};
</script>
